:root {
    --primary: #0d6efd;
    --white: #fff;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Sora", "sans-serif";
    line-height: 1.7;
    color: var(--body);
    overflow-x: hidden;
    overscroll-behavior: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

#nav {
    overscroll-behavior: contain;
}

#home {
    overscroll-behavior: contain;
    padding-top: 80px;
    padding-bottom: 20px;
}

#services {
    overscroll-behavior: contain;
}
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar .btn {
    font-size: 15px;
}

.navbar .nav-link {
    font-family: Roboto, "sans-serif";
    font-size: 14px;
    font-weight: 700;
}

.btn {
    padding: 8px 5px;
}

.hero {
    position: relative;
    z-index: 2;
}

/* home */

#home p {
    text-align: justify;
}

#home h1 {
    color: #0b3578;
}

section {
    width: 100%;
    overscroll-behavior: contain;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Card Effect */
.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
    overflow: hidden;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}
/* Card Effect */

.iconbox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 28px;
    border-radius: 100px;
    flex: none;
}

#services {
    padding-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service p {
    text-align: justify;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    font-size: 15px;
}

.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

#section {
    padding-top: 20px;
    padding-left: 20px;
}

#section p {
    text-align: justify;
}

#section .col-img {
    background-image: url(/images/manage.gif);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

#work {
    padding-top: 40px;
    overflow: hidden;
}

.project {
    position: relative;
    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
}

.project .custcolor {
    color: var(--dark);
}

.project img {
    transition: all 0.4s ease;
    object-fit: cover;
}

.project:hover .overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.project:hover img {
    transform: scale(1.1);
    object-fit: cover;
}
/* 
.project:hover .custcolor {
    color: var(--white);
} */

.price-cont {
    background-image: url(/images/test3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pricing ul li {
    margin-top: 8px;
}

.pricing i {
    font-size: 12px;
    color: var(--primary);
}

#testimonial {
    padding-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;
}

.team-member {
    overflow: hidden;
}

.team-member h5 {
    pointer-events: none;
}

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.team-member p {
    color: var(--dark);
    pointer-events: none;
    text-align: justify;
}

#blog {
    padding-top: 40px;
    padding-bottom: 40px;
}

.blog-post:hover img {
    transition: all 0.45s ease;
}

.blog-post:hover img {
    transform: scale(1.1);
}

.blog-post h5 {
    transition: all 0.45s ease;
    text-align: justify;
}

.blog-post p {
    transition: all 0.45s ease;
    pointer-events: none;
    text-align: justify;
}

.blog-post:hover h5 {
    font-size: 21px;
}

.footer-top {
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: var(--dark);
}

.footer-top .logo {
    width: 120px;
}

.footer-top a {
    color: var(--body);
}

.footer-top a:hover {
    color: var(--white);
}

.footer-top i {
    font-size: 20px;
    margin: 10px 0;
    padding: 8px 4px;
    color: var(--white);
    transition: all 0.45s ease;
    text-align: justify;
}

.footer-top .footlogo:hover {
    font-size: 24px;
    color: var(--primary);
}

.footer-bottom {
    background-color: var(--dark);
}

.footer-top li {
    font-size: 14px;
}

/* lfeatures */
.lfeatures {
    padding: 20px 9%;
}

.lfeatures .heading {
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    margin-top: 100px;
    margin-bottom: 50px;
}

.lfeatures .heading h1 {
    padding-bottom: 10px;
}

.lfeatures .heading p {
    max-width: 600px;
    margin: auto;
    color: var(--body);
    font-size: 17px;
}

.lfeatures .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0px 0;
}

.lfeatures .row .image {
    flex: 1 1 450px;
}

.lfeatures .row .image img {
    width: 100%;
}

.lfeatures .row .content {
    flex: 1 1 450px;
}

.lfeatures .row .content h1 {
    font-size: 35px;
    padding: 10px 0;
    color: var(--primary);
    pointer-events: none;
    position: relative;
}

.lfeatures .row .content h1::before {
    content: "";
    border-left: 4px solid var(--primary);
    pointer-events: none;
    padding-right: 5px;
}

.lfeatures .row .content p {
    font-size: 17px;
    padding: 10px 0;
    color: var(--dark);
    pointer-events: none;
    text-align: justify;
}

@media (max-width: 768px) {
    #home h1 {
        padding-top: 0px;
    }

    #home img {
        padding-top: 1rem;
    }
    .lfeatures .row .image img {
        width: 100%;
    }

    .lfeatures .row .image {
        flex: 1 1 250px;
    }

    .lfeatures .row .content {
        flex: 1 1 250px;
    }
}

@media (max-width: 425px) {
    #home h1 {
        padding-top: 0px;
    }

    #home img {
        padding-top: 0rem;
    }
}

@media (max-width: 1024px) {
    #home img {
        padding-top: 0px;
    }
    .lfeatures .row .image {
        flex: 1 1 250px;
    }

    .lfeatures .row .content {
        flex: 1 1 250px;
    }
}

@media (min-width: 1440px) {
    #home h1 {
        padding-top: 80px;
    }
    .lfeatures img {
        width: 90%;
    }
}

@media (min-width: 2559px) {
    .navbar .nav-link {
        font-size: 24px;
    }

    .btn {
        padding: 18px 25px;
        font-size: 24px;
    }
    #home h1 {
        padding-top: 15rem;
        font-size: 110px;
    }
    #home p {
        font-size: 30px;
    }

    #services {
        padding-top: 40px;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .service h5 {
        font-size: 40px;
    }

    .service p {
        text-align: justify;
        letter-spacing: 1px;
        word-spacing: 0px;
        font-size: 25px;
    }
    .lfeatures .row .content h1 {
        font-size: 45px;
    }

    .lfeatures .row .content p {
        font-size: 28px;
    }
}
