:root {
    --primary: #0d6efd;
    --white: #fff;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Sora", "sans-serif";
    line-height: 1.7;
    color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.navbar .btn {
    font-size: 15px;
}

.navbar .nav-link {
    font-family: Roboto, "sans-serif";
    font-size: 14px;
    font-weight: 700;
}

.btn {
    padding: 8px 5px;
}

.hero {
    background: url(/images/front1.gif) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Card Effect */
.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}
/* Card Effect */

.iconbox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 28px;
    border-radius: 100px;
    flex: none;
}

.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 200%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}

.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);
}

.service:hover::after {
    opacity: 1;
    top: 0;
}

.col-img {
    background-image: url(/images/manage.gif);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

.project {
    position: relative;

    overflow: hidden;
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
}

.project .custcolor {
    color: var(--dark);
}

.project img {
    transition: all 0.4s ease;
}

.project:hover .overlay {
    background-color: rgba(21, 20, 51, 0.8);
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .custcolor {
    color: var(--white);
}

.price-cont {
    background-image: url(/images/test3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.pricing ul li {
    margin-top: 8px;
}

.pricing i {
    font-size: 12px;
    color: var(--primary);
}

.team-member img {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.team-member p {
    color: var(--dark);
}

.blog-post:hover img {
    transition: all 0.45s ease;
}

.blog-post:hover img {
    transform: scale(1.1);
}

.blog-post h5 {
    transition: all 0.45s ease;
}

.blog-post p {
    transition: all 0.45s ease;
}

.blog-post:hover h5 {
    font-size: 21px;
}

.blog-post:hover p {
    font-size: 15px;
}
